// FONT SIZES
$font-xxl: 3.38541667vw;
$font-xl: 25px;
$font-lg: 30px;
$font-md: 17px;
$font-sm: 15px;
$font-xs: 13px;
$normal: 400;
$times: "Times New Roman", "Times", serif;
$bodoni: "LTCBodoni175W01";
$sans: sans-serif;

// colors
$category: #BBB;
$border: #f0f0f0;
$text: #333;
$hover: #fd885d;
$button: #272727;
$black: #000;
$bar: #888;
$white: #fff;

// spacing
$space-xxl: 120px;
$space-xl: 95px;
$space-std: 80px;
$space-lg: 60px;
$space-md: 50px;
$space-half: 40px;
$space-sm: 30px;
$space-xs: 20px;
$space-xxs: 10px;
