@font-face {
    font-family: 'LTCBodoni175W01';
    src: url('LTCBodoni175W01-Regular.woff2') format('woff2'),
        url('LTCBodoni175W01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LTCBodoni175W01';
    src: url('LTCBodoni175W01-Regular.woff2') format('woff2'),
        url('LTCBodoni175W01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LTCBodoni175W01';
    src: url('LTCBodoni175W01-Regular.woff2') format('woff2'),
        url('LTCBodoni175W01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

